body {
    background-color: yellow;
    height: 100vh;
    display: grid;
    place-items: center;
}

small {
    display: block;
    color: #999;
}

.container {
    background-color: white;
    border: 1px solid #999;
    width: 300px;
    padding: 5px;
    display: flex;
    align-items: center;
    /*1rem : 한 글자만큼의 gap*/
    gap: 1rem;
    border-radius: 0.5rem;
}